*.iml
.gradle
.kotlin
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
iosApp/iosApp.xcodeproj/*.xcworkspace
iosApp/build
/iosApp/iosApp.xcodeproj/xcuserdata/**/*.plist
